body {
    background-color: rgb(44, 2, 2);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
    background-color: white;
    color: rgb(75, 7, 7);
    padding: 14px;
}

img {
    max-width: 56px;
    max-height: 56px;
}

.middle, .bottom {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

input, button {
    border-radius: 7px;
    border-color: brown;
    font-size: large;
    height: max-content;
    width: max-content;
}
